window {
    margin: 0px;
    background-color: #282a36;
    border-radius: 40px;
    border: 2px solid #bd93f9;
}

#input {
    margin-bottom: 10px;
    border: none;
    color: #FFFFFF;
    background-color: #44475a;
    border-radius: 30px;
    font-size: 22px;
    padding: 8px;
}

#inner-box {
    border: none;
    background-color: #282a36;
    border-radius: 40px;
}

#outer-box {
    margin: 6px;
    border: none;
    padding: 10px;
    border-radius: 40px;
    background-color: #282a36;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #bd93f9;
    font-size: 19px;
}

#entry:selected {
    background-color: #44475a;
    border-radius: 20px;
    outline: none;
}

#entry:selected * {
    background-color: #44475a;
    border-radius: 20px;
    outline: none;
}
